.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #011212;
}

.ball {
  width: 100px;
  height: 100px;
  background-color: #228820;
  border-radius: 50px;
}

:root body {
    background-color: gray;
}

:root .ball {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgb(161, 161, 161);
    border: 3px solid #8c8c8c;
}